body {
    font-family: 'Baloo Bhai', cursive;
    color: rgb(15, 27, 136);
    margin: 0px;
    padding: 0px;
}
header {
background-color: #d633ce;
font-size: 40px;
background-image:url("airplanea.png");
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    width: 136px;
    filter: invert(100%);
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}

.mid {
    display: block;
    width: 36%;
    margin: 29px auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: rgb(65, 212, 11);
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(213, 23, 134);

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: red;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}


.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 30px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 100%;
    margin: 10px auto;
}
.start-today .content .img img{
width: 100%;
display: block;
}
.schedule{
padding:80px 0px;
}

.schedule .content{
-webkit-display: flex;
display: flex;
}

.schedule .content .box{
flex:0 0 50%;
max-width: 100%;
padding:15px;
}

.schedule .content .text h2{
font-size: 30px;
font-weight: 500;
color: #000000;
padding: 0px 0px 20px;
}

.schedule .content .text p{
font-size: 15px;
line-height: 20px;
color: #222222;
margin: 0;
padding: 0px 0px 20px;
font-family: 'Open Sans', sans-serif;
}
.schedule .content .text img{
width: 100%;
transform: rotateY(180deg);
}

.schedule .content .timing .table{
width: 100%;
border-collapse: collapse;
}

.schedule .content .timing .table td{
border:1px solid #144194;
padding: 8px;
font-size: 15px;
text-align: center;
color:#222222;
}

.schedule .content .timing .table tr:nth-child(even) td.day{
background-color: #222222;
}
.schedule .content .timing .table tr:nth-child(odd) td.day{
background-color: #444444;
}
.schedule .content .timing .table tr:nth-child(1) td.day{
background-color: #c11325;
}
.schedule .content .timing .table tr td.day{
color:#ffffff;
border-color:transparent;
}
/*Gallery Section*/

.gallery .content{
-webkit-display: flex;
display: flex;
flex-wrap: wrap;
}

.gallery .content .box{
flex:0 0 50%;
max-width: 50%; 
}
.gallery .content .box img{
display: block;
width: 100%;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
-webkit-transition: all .5s ease;
transition: all .5s ease;
}
.gallery .content .box img:hover{
-webkit-filter: grayscale(0%);
filter: grayscale(0%);
}

.gallery h2{
font-size: 30px;
font-weight: 500;
color: #000000;
padding: 0px 0px 20px;
text-align: center;
}
/*Contact Section*/

.contact{
padding:80px 0px;
background-color: #87CEEB;
}

.contact .content{
-webkit-display: flex;
display: flex;
}

.contact .content .box{
flex:0 0 50%;
max-width: 50%;
padding: 15px;
}

.contact .content .form input,
.contact .content .form textarea{
height: 45px;
width: 100%;
padding:6px 12px;
margin-bottom: 25px;
background-color: transparent;
border:1px solid ;
font-family: 'Open-sans',sans-serif;
color:blue;
}
.contact .content .form input:focus,
.contact .content .form textarea:focus{
outline: none;
}
.contact .content .form input::placeholder,
.contact .content .form textarea::placeholder{
color:blue;
}
.contact .content .form textarea{
height: 100px;
}

.contact .content .form button{
border:none;
outline: none;
box-shadow: none;
height: 45px;
padding:0px 50px;
border:1px solid transparent;
background-color: #87CEEB;
color:blue;
font-size: 15px;
transition: all .5s ease;
cursor: pointer;
}
.contact .content .form button:hover{
background-color:transparent;
color:blue; 
border-color:blue;
}

.contact .content .text h2{
font-size: 30px;
font-weight: 500;
color: #c11325;
padding: 0px 0px 20px;
}
.contact .content .text p{
font-size: 15px;
line-height: 20px;
color: #ffffff;
margin: 0;
padding: 0px 0px 30px;
font-family: 'Open-sans', sans-serif;
}

.contact .content .text .info ul{
list-style: none;
padding:0;
margin:0;
}

.contact .content .text .info li{
display: block;
margin-bottom: 15px;
color:#ffffff;
font-size: 15px;
letter-spacing: 1px;
position: relative;
padding-left: 40px;
font-family: 'Open-Sans',sans-serif;
}
.contact .content .text .info li span{
display: inline-block;
position: absolute;
left:0px;
top:0px;
font-size: 20px;
color:#c11325;
}
.contact .content .text .social {
padding-top: 30px;
}
.contact .content .text .social a{
height: 40px;
width: 40px;
line-height: 40px;
text-align: center;
background-color: #c11325;
text-decoration: none;  
display: inline-block;
margin-right: 10px;
transition: all .5s ease;
border:1px solid transparent;
} 

.contact .content .text .social a:hover{
background-color: transparent;
border-color: white;
}

.contact .content .text .social a span{
color:#ffffff;
font-size: 20px;
}

.contact .content .text .copy{
border-top:1px solid white;
margin-top: 30px;
padding-top: 20px;
color:white;
font-size: 15px;
}


/* Simple Responsive Framework. */
/*if screen width is less than or equal to 991px then*/
@media(max-width: 991px){
.home{
background-position: center;
}
.classes .content{
flex-wrap: wrap;
}
.classes .content .box {
flex: 0 0 100%;
max-width: 100%;
}
.classes .content .img{
display: none;
}
.start-today .content .box{
padding:15px;
}
}

/*if screen width is less than or equal to 767px then*/
@media(max-width: 767px){
.home h1{
  font-size: 40px;
}
.about .content{
 flex-wrap: wrap;
}
.about .content .box {
flex: 0 0 100%;
max-width: 100%;
}
.service .content{
flex-wrap: wrap;
}
.service .content .box {
flex: 0 0 100%;
max-width: 100%;
}
.classes .content .class-items .item{
flex-wrap: wrap;
}
.classes .content .class-items .item .item-text, 
.classes .content .class-items .item .item-img {
flex: 0 0 100%;
max-width: 100%;
}
.schedule .content{
flex-wrap: wrap;
}
.schedule .content .box{
flex: 0 0 100%;
max-width: 100%;  
}
.start-today .content{
flex-wrap: wrap;
}
.start-today .content .box {
flex: 0 0 100%;
max-width: 100%;
}
.gallery .content{
flex-wrap: wrap;
}
.gallery .content .box {
flex: 0 0 100%;
max-width: 100%;
}
.price-package .content{
flex-wrap: wrap;
}
.price-package .content .box {
flex: 0 0 100%;
max-width: 100%;
}
.contact .content{
flex-wrap: wrap;
}
.contact .content .box {
flex: 0 0 100%;
max-width: 100%;
}
}

/*if screen width is less than or equal to 550px then*/
@media(max-width: 550px){
.home h1{
  font-size: 30px;
}
}